main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  text-align: center;
}


#messages {
  text-align: center;
}

#game-area {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* border-style: solid;
  border-width: 2px;
  border-color: black; */
  flex-wrap: nowrap;
  /* margin: 250px 0; */
}

#game-area button {
  display: block;
  max-width: 200px;
  border-radius: 50%;
  outline: none;
}


#game-area button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


#scoreboard {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

#play-again {
  display: block;
  margin: 0 auto;
}

#cpu-choices .choice img{
  transform: scaleX(-1);
} 

.not-chosen {
  opacity: .1;
  transition: opacity .5s;
}

.deactivated {
  cursor: not-allowed;
  pointer-events: none;
}

.invisible {
  opacity: 0;
}